@import '../../lib/less/variables.less';

div.post {
  margin: 10px 0px;
  padding-bottom: 30px;

  .ui.header {
    padding-bottom: 20px;
    font-size: 2.5em;

    small.sub.header {
      font-family: 'Lato' !important;
      color: @grey;
      font-weight: 300;
      font-size: .35em;
    }
  }
}
